<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Fitness Nutrition Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <div class="nav-container">
        <h1>🥗 Fitness Nutrition</h1>
        <nav>
            <a href="{{ url_for('profile') }}">Profil</a>
            <a href="{{ url_for('overview') }}">Aperçu</a>
            <a href="{{ url_for('analysis') }}">Analyse</a>
            <a href="{{ url_for('meal') }}">Repas</a>
            <a href="{{ url_for('ml_analysis')}}">Mesures de performance</a>
        </nav>
    </div>
</header>

<main class="content">
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Application démo — données estimées (ne remplace pas un pro de santé).</p>
</footer>
</body>
</html>
